.that-container {
  display: flex;
  justify-content: space-around;
  max-width: 2560px !important;
  width: 100% !important;
  outline: none;
  border: none;
  align-items: center;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl,
.navbar {
  max-width: 2560px !important;
  justify-content: center;
  align-items: center;
}

html,
body {
  max-width: 3840px;
  width: 100%;
}
.navbar {
  border: none !important;
  outline: none !important;
  justify-content: center;
  align-items: center;
}
.search-input {
  padding: 0.2rem 10rem;
  border: none;
  outline: none;
  border-radius: 2rem !important;
  align-items: center;
}
.navbar-nav {
  align-items: center;
}

.form-control:focus {
  box-shadow: none !important;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(180, 182, 184, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}
